/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  V  |  M  |  L   |  C   |  P   |                                          |  B   |  U    |  U    |  O   |   Q   |  DEL |
            // |  BSPC |  S  |  T  |  R   |  D   |  Y   |                                          |  F   |  N    |  E    |  A   |   I   |  RET |
            // | SHIFT |  X  |  K  |  J   |  G   |  W   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  Z   |  H    |  ,    |  .   |   /   | SHIFT|
            //                     | GUI  | DEL  | SPACE  |  RET  |   FN    |  |  LALT   | LAYER 1 | TAB  | BSPC  | R-ALT |
            bindings = <
            &kp ESC   &kp V &kp M &kp L &kp C &kp P                                                  &kp B &kp U  &kp U     &kp O   &kp Q    &kp DEL
            &kp BSPC  &kp S &kp T &kp R &kp D &kp Y                                                  &kp F &kp N  &kp E     &kp A   &kp I    &kp RET
            &kp LSHFT &kp X &kp K &kp J &kp G &kp W &kp LSHFT &kp LSHFT            &mo 1   &kp LSHFT &kp Z &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LGUI &kp LGUI &kp SPACE &kp RET &mo 1                  &kp LALT &mo 1    &kp TAB &kp LCTRL &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        function_layer {
            display-name = "Function Layer";
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
            &trans &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2              &trans &trans &trans &trans &trans &trans
            &trans &trans &trans     &bt BT_SEL 3 &bt BT_SEL 4 &trans                    &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
                                 &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
